<div class="modal wizard"
  ng-hide="!forcedOpen || allDone || canceled || steps.length === 0">

  <div class="overlay"></div>
  <div class="light-box">
    <div class="title" ng-bind="title"></div>

    <div class="nav">
      <button
        ng-bind="step.title"
        ng-class="{'current':isCurrent($index)}"
        ng-click="switchTo($index)"
        ng-disabled="!steps[$index].valid"
        ng-repeat="step in steps">
      </button>
    </div

    ><div class="step"
      ng-form
      ng-include src="step.url"
      ng-repeat="step in steps"
      ng-show="shouldShow($index)">
    </div>

    <div class="toolbar">

      <div class="secondary-btn-grp">
        <button
          ng-bind="btnDisplayText.cancel"
          ng-click="cancel()">
        </button>
      </div>

      <div class="primary-btn-grp">
        <button
          ng-bind="btnDisplayText.back"
          ng-click="back()"
          ng-hide="isFirstStep()">
        </button

        ><button class="next"
          ng-bind="btnDisplayText.next"
          ng-click="next()"
          ng-disabled="!steps[currentIndex].valid"
          ng-hide="isLastStep()">
        </button

        ><span class="separator"></span

        ><button class="finish"
          ng-bind="btnDisplayText.finish"
          ng-click="finish(); submit();"
          ng-disabled="!allValid()">
        </button>
      </div>
    </div>

    <help-panel>
      <ng-include src="step.helpUrl"
        ng-repeat="step in steps"
        ng-show="isCurrent($index)">
      </ng-include>
    </help-panel>
  </div>
</div>