.wizard .help-panel {
  position: absolute;
  width: 300px;
  top: 65px;
  right: -300px;
  bottom: 65px;
  background: #eee;
  -webkit-transition: right linear 0.1s;
  transition: right linear 0.1s;
}

  .wizard .help-panel .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    overflow-y: visible;
  }

  .wizard .help-panel.open {
    right: 0;
  }

    .wizard .help-panel.open > button.open {
      display: none;
    }

    .wizard .help-panel.open > button.close {
      display: block;
    }

  .wizard .help-panel > button {
    position: absolute;
    top: 7px;
    left: -35px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    padding: 0;
    border: none;
    background: #eee;
  }

    .wizard .help-panel > button:hover {
      background: #ddd;
    }

    .wizard .help-panel > button.close {
      display: none;
    }