<div class="step">
    <div class="form" ng-transclude></div>
    <div class="toolbar">
        <div class="left-btn-grp">
            <button class="cancel" 
                ng-click="cancel()" ng-disable="cancelBtnDisabled">{{ btnLabel.cancel }}</button>
        </div>
        <div class="right-btn-grp">
            <button class="back" 
                ng-click="back()" ng-disable="backBtnDisabled">{{ btnLabel.back }}</button
            ><button class="next" 
                ng-click="next()" ng-disable="nextBtnDisabled">{{ btnLabel.next }}</button
            ><div class="btn-wrap finish">
                <button class="finish"  
                    ng-click="finish()" ng-disable="finishBtnDisabled">{{ btnLabel.finish }}</button>
            </div>
        </div>
    </div>
</div>